:root{
  --p:20px;
}
body {
  border-top:2px solid black;
  font: 21px/1.5em Science Gothic, arial, sans-serif;
  font-variation-settings: 'wght' 360, 'wdth' 80, 'YOPQ' 122;
  color:#ccc;
  background: #121212;
  border-bottom:10px solid black;
}

.center-column{
  width:min(1000px, 80%);
  margin:var(--p) auto calc(var(--p) * 2);
}
.logo{
  display: block;
}
.text{
  display: flex;
  flex-wrap: wrap;
}
.col-50{
  width:50%;
}
.col-50:first-child{
  padding-right: calc(var(--p)*2);
}
.play-btns{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--p);
}

.button-line .button{
  text-align: left;
  display: block;
/*   width: 7em; */
  width: 12em;
  margin-right: 1em;
  background-image: url(../images/icon_download.svg);
  background-repeat: no-repeat;
  background-position: .5em .52em;
  background-size: 24px;
  padding-left: 2em;
}
.button-line:first-child .button{
  background-image: url(../images/icon_get_involved.svg);
}
/*.button-line:last-child .button{
  background-image: url(../images/icon_browser.svg);
}*/
.button-line{
  display: flex;
  align-items: center;
  font-variation-settings: 'wght' 296, 'wdth' 70, 'YOPQ' 122;
  margin-bottom: calc(var(--p)/2);
  color: #999;
}
.link-list{
  columns: 2;
  text-transform: uppercase;
}
.link-list li{
  font-variation-settings: 'wght' 360, 'wdth' 120, 'YOPQ' 122;
  margin-bottom:4px;
}
#trailer{
  margin-top: 10vh;
}
.video-box{
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}
.video-box iframe{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.link-list a,
.title {
  padding: calc(var(--p) / 2) 0;
  border-bottom:2px solid #333;
  text-decoration: none;
  transition: all .2s linear;
  display: block;
  text-align: center;
}
.title {
  color: orangered;
  text-transform: uppercase;
}
.link-list a:hover {
  text-shadow: 0px 1px 15px DarkOrange;
  border-bottom:2px solid DarkOrange;
}
.gallery {
  display: block;
  height: 36vh;
  width: 100%;
  position: relative;
  border-top:3px solid #000;
  border-bottom:2px solid #683814;
  background: #111;
}

.gallery:hover:after{
  content:"Watch legacy trailer";
  letter-spacing: 0;
  text-align: center;
  width:100%;
  top:16vh;
  left:0;
  font-size: 2em;
  color: white;
  position: absolute;
  text-shadow: 0 0 10px black, 0 0 5px black, 0 0 2px black;
}
.gallery img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  transition: all 3s ease;
  opacity: 0;
}
.gallery img.active{
  opacity: 1;
}

p, button{ margin-bottom: 1.4em;}
a{ color: orangered;}
a:hover{ color: DarkOrange;}
.button {
  font-variation-settings: 'wght' 430, 'wdth' 70, 'YOPQ' 122;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #333;
  text-align: center;
  padding: .4em 1em;
  text-decoration: none;
  border-bottom:1px solid black;
  transition: all .2s linear;
  cursor: pointer;
}
.button:hover {
  background-color: #600707;
}
.button:active {
  background-color: #333;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0);
  border-bottom:1px solid transparent;
  position: relative;
  top: 2px;
}

/* Lastes commits */
.commits {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  font-size: 80%;
}

.commits th,
.commits td {
  vertical-align: top;
  padding: .4rem;
  line-height: 1;
}

.commits th {
  font-weight: bold;
  text-align: left;
}

.commits td {
  border-bottom: 2px solid #333;
}

.commits .author > div {
  display: flex;
  align-items: center;
  min-width: 160px;
  height: 40px;
}

.commits .author img {
  width: 32px;
  height: auto;
  padding-right: .4rem;
}

.commits .commit-date {
  min-width: 120px;
}

.commits td.commit-date,
.commits td.commit-msg {
  padding-top: 1rem;
}

.button.show-more {
  background-image: url(../images/icon_more.svg);
}

.button.commits-btn {
  background-image: url(../images/icon_commit.svg);
}

.commits-btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .4rem;
  margin-top: .5rem;
}

.mastodon {
  margin: auto;
}

@media only screen and (max-width: 700px) {
  .col-50{
    width: 100%;
    padding:0!important;;
  }
  .button-line{
    display: flex;
    flex-wrap: wrap;
  }
  .button-line .button{
    width:100%;
    margin-right: 0;
  }
  .link-list{
    columns: 1;
  }
}
::selection {background:#ffeaaa;}
::-moz-selection {background:#ffeaaa;}

