@font-face {
    font-family: 'Science Gothic';
    src: url('ScienceGothicVF-no-italic.woff2') format('woff2'),
    url('ScienceGothicVF-no-italic.woff') format('woff'),
    url('ScienceGothicVF-no-italic.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

